@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Bodoni Moda SC", system-ui;
}
body{
    height: 100vh;
    background-color: #222;
    color: #fff
}
/*INTERAÇÃO COM O MENU DO SITE*/
nav.menu-lateral{
    width: 10.9px;  /*210px = aberto 60px = fechado*/
    height: 100%;
    background-color: rgba(52, 163, 0, 0.548);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(16, 80, 0);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{ /*efeito que mostra o menu inteiro*/
    width: 180px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

ul{
    height: 50%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 1s
}


ul li.item-menu:hover{
    background: rgb(83, 118, 0);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;

}
ul li.item-menu a .icon{
    font-size: 30px;
}

/*EDIÇÃO DAS INFORMAÇÕES DO SITE */

h2{
    background-color: red;
    margin-left: 540px;
    margin-top: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: "Bodoni Moda SC", system-ui;
   
}
p{
   margin-left: 150px;
   margin-top: 150px;
    /*define o tamanho da margem*/
   padding: 60px;
   width: 500px;
   background-color: rgba(233, 145, 14, 0.5);
   border: 2px rgba(255, 251, 30, 0.986);
   border-radius: 20px;
   font-size: 20px
}

.icone img{
  margin-left: 460px;
  margin-bottom: 20px;
  position: absolute;
}
.intro{
    display: flex;
    justify-content: center;
}
.intro p{
    margin: 20px;
    margin-top: 280px;
}
.intro img{
    height: 630px;
    margin: 20px;
    margin-top: 280px; 
}
.sobre-jogo{
    display: flex;
    justify-content: baseline;
    
}
.sobre-jogo .txt1 .txt2{
    margin-right: 100px;
    font-size: 30px;
}